node_modules
.next
.env.local
.env
npm-debug.log*
data/resources/files
tsconfig.tsbuildinfo

# Firebase
functions/node_modules
functions/lib
.firebase
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json
*firebase-adminsdk*.json
*service-account*.json
service-account.json

.vercel
.env*
